Icon
.DS_Store

public/thumbs/*
public/thumbs/index.html

public/site/cache/*
public/site/cache/index.html

public/site/accounts/*
public/site/accounts/index.html
public/vendor/

public/content/

public/assets/fonts/
public/assets/css/
public/assets/js/

#---
/app/node_modules
/app/stores/users.json

#---
rsync-exclude.txt
