@font-face {
  font-family:"NotCourierSans";
  src:url("/assets/fonts/NotCourierSans-Bold.woff2") format("woff2"),url("/assets/fonts/NotCourierSans-Bold.woff") format("woff"),url("/assets/fonts/NotCourierSans-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"NotCourier";
  src:url("/assets/fonts/NotCourierSans.woff2") format("woff2"),url("/assets/fonts/NotCourierSans.woff") format("woff"),url("/assets/fonts/NotCourierSans.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Graphik-Regular";
  src:url("/assets/fonts/Graphik-Regular.woff2") format("woff2"),url("/assets/fonts/Graphik-Regular.woff") format("woff"),url("/assets/fonts/Graphik-Regular.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Graphik-RegularItalic";
  src:url("/assets/fonts/Graphik-RegularItalic.woff2") format("woff2"),url("/assets/fonts/Graphik-RegularItalic.woff") format("woff"),url("/assets/fonts/Graphik-RegularItalic.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Tahoma";
  src:url("/assets/fonts/Tahoma.woff2") format("woff2"),url("/assets/fonts/Tahoma.woff") format("woff"),url("/assets/fonts/Tahoma.otf") format("opentype");
  font-style:normal;font-weight:400;
}

:root {
  --ft-rg: 'Graphik-Regular';
  --ft-it: 'Graphik-RegularItalic';
  --ft-mn: 'NotCourier';
  --ft-ph: 'Tahoma';
  --fs-1: 1rem;
  --fs-1-3: 1.3rem;
  --c-wh: #ffffff;
  --c-gy: #e6e5e6;
  --c-gk: #807f80;
  --c-gkk: #393939;
  --c-bk: #1a1a1a;
  --c-gr: #0d8f5c;
  --c-rd: #d8252a;
  --c-bl: #3865a1;
}

html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address { margin: 0; padding: 0 }

a {
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
}

:focus{
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--ft-rg), var(--ft-ph);
  color: var(--c-bk);
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em, i {
  font-family: var(--ft-it);
}

strong, b {
  font-family: var(--ft-bd);
}

img.emoji {
  max-width: 1rem;
}

img {
  max-width: 100%;
}

code, pre {
  font-family: var(--ft-mn);
}

.ft-rg {
font-family: var(--ft-rg);
}

.ft-bd {
  font-family: var(--ft-bd);
}

.ft-mn {
  font-family: var(--ft-mn);
}	

.fw-r {
  font-weight: 400;
} 

.td-u-r {
  text-decoration: underline var(--c-rd);
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1;
}

h1, h2, h3,
p {
  padding-bottom: 1rem;
}

input,
button {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
}

:focus{
  outline: none;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--c-bk);
  transition: background-color 5000s ease-in-out 0s;
}

input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  outline: 1px solid var(--c-bk);
  width: 0.75rem;
  height: 0.75rem;
}

input[type=checkbox]:checked {
  background: var(--c-bk);
}

.copy-w {
  max-width: 37.5rem;
}

.copy a,
.copy a:visited,
.copy a:hover {
  color: var(--c-bl);
}

.nav-bt:visited,
.nav-bt:hover {
  text-decoration: underline var(--c-rd);
}

.copy-tdbk a {
  color: inherit;
}

.copy blockquote {
  padding: 0 0 0 1rem;
}

.copy blockquote p {
  padding-bottom: 0;
}

.copy blockquote + p {
  padding-top: 1rem;
}

.copy ul,
.copy ol {
  padding-left: 1rem;
}

.ty-w {
  width: 2rem;
}

.ty-h {
  height: 2rem;
}

.br-50 {
  border-radius: 50%;
}

.sm-bt {
  width: 4rem;
}

.mw-bt {
  min-width: 13rem;
}

.w90 {
  width: 90%;
}

.mhv-bx {
  max-height: 80vh;
}

.t0-75 {
  top: 0.75rem;
}

.r0-75 {
  right: 0.75rem;
}

.b0-75 {
  bottom: 0.75rem;
}

.l0-75 {
  left: 0.75rem;
}

.t2-7 {
  top: 2.7rem;
}

.t50 {
  top: 50%;
}

.l0-75 {
  left: 0.75rem;
}

.l16 {
  left: 16%;
}

.t70 {
  top: 70px;
}

.l50 {
  left: 50%;
}

.l999 {
  left: -999px; 
}

.ttcc {
  transform: translate(-50%, -50%);
}

.ttxc {
  transform: translate(-50%);
}

.ttr180 {
  transform: rotate(180deg);
}

.mra {
  margin-right: auto;
}

.mla {
  margin-left: auto;
}

@media screen and (min-width: 540px) {
  .md-mgr2 {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .sm-w60 {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .md-w40 {
    width: 40%;
  }

  .md-la {
    left: auto;
  }

  .md-ttx0 {
    transform: translate(0);
  }
}

.txsh-t {
  text-shadow: 0 -2px 3px var(--c-gkk);
}

.bxsh-a {
  box-shadow: 0 0 20px var(--c-gy);
}

.sh-a {
  filter: drop-shadow(0px 0px 5px var(--c-gy));
}

.iframe-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.xdl {
  -webkit-transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
  -moz-transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
  -o-transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
  transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
  -webkit-transition-property: width, height;
  -moz-transition-property: width, height;
  -o-transition-property: width, height;
  transition-property: width, height;
}

/* woofmark text-editor */

.wk-container {
  position: relative;
}

.txa {
  padding-top: 1.65rem;
}

.wk-prompt {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  border-right: 6px solid #3865A1;
  padding: 1rem;
  background: var(--c-gy);
}

.wk-prompt-title {
  font-size: 1rem;
}

.wk-prompt-body {
  padding-bottom: 1rem;
}

.wk-prompt-description {
  display: none;
}

.wk-prompt-input-container {
  width: 100%;
}

.wk-prompt-input {
  border-bottom: 1px solid var(--c-bl);
  width: 100%;
}

.wk-prompt-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wk-prompt-buttons button {
  cursor: pointer;
  text-decoration: underline;
  text-transform: lowercase;
}

.wk-wysiwyg {
  display: none;
  border: 1px solid var(--c-bk);
  overflow: scroll;
}

.wk-switchboard {
  display: none;
}

.wk-commands,
.xwk-switchboard {
  /* display: inline-block; */
  border: 1px solid var(--c-bk);
  background: var(--c-gy);
}

.wk-commands {
  width: 100%;
  position: absolute;
  top: 0;
  border: 1px solid var(--c-bk);
  background: var(--c-gy);
}

.wk-command {
  padding: 0.25rem;
  cursor: pointer;
}

.wk-command:hover,
.wk-command:hover {
  background: var(--c-wh);
}
